@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .coust-section {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .coust-list {
    display: flex;
    gap: 24px;
  }
  .coust-item {
    width: calc((100% - 120px) / 6);
  }
  /* ---HERO--- */
  .hero > .container {
    min-width: 1200px;
  }
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--second-bg-dark-color);
    background-image: var(--l-gradient), url(../images/bghero-0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: var(--l-gradient), url(../images/hero-dt-2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
  }

  /* - ADVANTAGES-- */
  .advantadest {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantadest-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .advantadest-list {
    display: flex;
    gap: 24px;
  }
  .advantadest-item {
    width: calc((100% - 72px) / 4);
    height: 112px;
  }
  .advantadest-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
  }
  .advantadest-text {
    max-width: 264px;
  }
  /* ---SERVISES-- */
  .services-section {
    display: flex;
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .services-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
    margin-bottom: 72px;
  }
  .services-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
  .list {
  }
  /* ---Portfolio 1200--- */
  /* .filter {
      padding-top: 96px;
      padding-bottom: 120px;
    }
    .filter-wraper {
      margin-bottom: 72px;
    }
    .filter-list {
      margin-left: auto;
      margin-right: auto;
    }
    .filter-list {
      margin-bottom: 72px;
    } */
}
